{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h2>Edit Category: {{categoria._id}}</h2>
<div class="card mt-3">
    <div class="card-body">
        <form action="/admin/categorias/edit" method="post">
        <input type="hidden" name="id" value="{{categoria._id}}">
            <div class="mt-3">
                <label class="mb-2" for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Category Name" class="form-control" value="{{categoria.name}}">
            </div>
            <div class="mt-3">
                <label class="mb-2" for="slug">Slug</label>
                <input type="text" name="slug" id="slug" placeholder="Category Slug" class="form-control" value="{{categoria.slug}}">
            </div>
            <button type="submit" class="btn btn-success mt-5">Edit category</button>
            <a href="/admin/categorias"><button type="button" class="btn btn-outline-secondary mt-5">Cancelar</button></a>
        </form>
    </div>
</div>